.Footer__content {
    background-color: #101828;
    height: 694px;
    gap: 40px
}

.top__content {
    display: flex;
    justify-content: space-around;
}

.top__content h1 {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 377px;
    margin: 3rem 14rem 0 0;
}

.top__content-playstore {
    margin: 4rem 0rem 0rem 4rem;
}

.top__content-playstore img {
    margin: 1rem 1rem 0 0;
    height: 58px;
}

hr {
    color: white;
    margin: 2rem 4rem;
    width: 74rem;
}

.middle__content-container {
    display: flex;
    margin: auto;
}

.middle__content {
    display: flex;
    justify-content: space-between;
}

.middle__content p {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    margin: 1rem 0;
}

.middle__content-socials img {
    margin-left: 2rem;
    width: 30px;

}

.middle__content-socials {
    margin-left: -2rem;
}

.middle__content-contact {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
}

.contact {
    display: flex;
    align-items: center;
}

.middle__content-contact img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.rights {
    color: white;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

@media screen and (max-width:550px) {
    .Footer__content {
        height: 673px;
        gap: 30px;
        width: 413px;


    }

    .top__content {
        display: block;

    }

    .top__content h1 {
        font-size: 23px;
        width: 20rem;
        margin: 0;
    }

    .top__content-playstore {
        margin: 2rem 0rem 0rem 0rem;
    }

    .top__content-playstore img {
        height: 38px;
    }

    hr {
        margin: 0.6rem 2rem;
        width: 27rem;
        display: none;
    }


    .middle__content p {
        font-family: "Poppins";
        font-size: 15px;
        line-height: 25px;
        margin: 0.5rem 0;
    }

    .middle__content-middle p {
        width: 104px;
    }

    .middle__content-socials img {
        margin: 1rem 0 0 1rem;
        width: 20px;

    }

    .middle__content-socials {

        width: 15px;
        display: flex;
        margin-bottom: 2rem;
    }

    .middle__content-contact {
        width: 250px;
        margin-left: 3rem;
    }


    .contact {
        display: flex;
        align-items: center;
        width: 165px;
    }

    .contact img {
        margin-right: 2rem;
    }

    .middle__content-contact img {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
    }

    .middle__content {
        height: 180px;
        display: block;
        margin-bottom: 2rem;
    }

    .middle__content-container {
        display: flex;
        justify-content: space-between;
    }

    .rights {
        font-size: 14px;
        height: 1rem;
        margin-top: 5rem;
    }

    .white__logo {
        display: flex;
        flex-direction: column;
    }

    .white__logo img {
        width: 217px;
        margin-right: 7px;
    }


}